        body {
            padding: 0;
            margin: 0px;
            box-sizing: border-box;
        }
        
        * {
            padding: 0;
            margin: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        
        .container {
            padding: 0;
            margin: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        /* #myVideo {
    position: ;
    right: 0;

    min-width: 100%;
    min-height: 100%;
    z-index: -999;
    overflow: hidden;
    
  } */
        
        .row {
            padding: 0;
            margin: 0px;
            box-sizing: border-box;
            font-family: sans-serif;
            display: flex;
        }
        
        .nav {
            padding: auto;
            margin: 0px;
            background-image: url("../image/bg.webp");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 430px;
        }
        
        #logo {
            width: 40%;
            padding: 20;
            margin: 0px;
        }
        
        #logo a img {
            width: 120px;
            padding: 0;
            margin: 3px;
            border-radius: 62px;
            background-color: #fff;
        }
        
        .link {
            width: 40%;
            padding: 0;
            margin-top: 30px
        }
        
        .link ul {
            padding: 0;
            margin: 0px;
            list-style: none;
            display: flex;
        }
        
        .link ul li {
            padding: 0;
            margin: 0px;
            list-style: none;
            display: flex;
            margin: 20px;
        }
        
        .link ul li a {
            padding: 0;
            margin: 0px;
            list-style: none;
            display: flex;
            font-size: 20px;
            font-weight: 550;
            text-decoration: none;
            color: #fff;
        }
        
        .link ul li a:hover {
            color: #000;
        }
        
        .but {
            width: 20%;
            padding: 10px;
            margin-top: 42px;
            text-align: end;
        }
        
        .but a {
            padding: 10px 20px;
            margin-top: 30px;
            background-color: #fff;
            color: #04f;
            font-size: 20PX;
            font-weight: 600;
            text-decoration: none;
            text-align: right;
        }
        
        .but a:hover {
            background-color: #04f;
            color: #fff;
        }
        
        .bg {
            padding: auto;
            margin: 0px 0px 0px 42px;
            width: 100%;
        }
        
        .bg h1 {
            margin: 42px 0px 0px 0px;
            font-size: 50px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 20px;
        }
        
        .bg p {
            padding: 0;
            margin: 0px 0px 25px 0px;
            color: #fff;
            font-size: 18px;
            line-height: 30px;
        }
        
        .bg ul li {
            padding: 0;
            color: #000;
            font-size: 18px;
            line-height: 30px;
        }
        
        .bg a {
            padding: 10px 20px;
            margin-top: 30px;
            background-color: #fff;
            color: #04f;
            font-size: 20PX;
            font-weight: 600;
            text-decoration: none;
            text-align: right;
        }
        
        .bg a:hover {
            background-color: #04f;
            color: #fff;
        }
        
        .ab {
            padding: auto;
            margin: 40px;
        }
        
        .ab h1 {
            font-size: 36pxpx;
            font-weight: 700;
            margin: 20px;
        }
        
        .ab p {
            padding: 0px;
            margin-left: 20px;
            text-align: left;
            font-size: 18px;
            line-height: 30px;
        }
        
        .ab ul li {
            margin: 0px;
            padding: 10px;
            list-style: none;
        }
        
        .ab2 {
            padding: auto;
        }
        
        .ab2 img {
            width: 189px;
            padding: 3px;
        }
        
        .ab1 {
            width: 50%;
            text-align: center;
        }
        
        .ab1 img {
            width: 500px;
            text-align: end;
            margin-top: 40px;
        }
        
        .box1 {
            background-color: #f2f6f7;
            margin-top: 40px;
            padding-bottom: 40px;
        }
        
        .box1 h1 {
            padding: 20px;
            margin: 0px;
            font-size: 36px;
            font-weight: 700;
            color: #000;
            text-align: center;
        }
        
        .box {
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: #fff;
            box-shadow: 0 0 10px #000;
        }
        
        .box h3 {
            padding: 9px;
            margin: 0px;
            font-size: 24px;
            font-weight: 600;
        }
        
        .box p {
            padding: 5px 0 20px;
            margin: 0px;
            font-size: 18px;
            font-weight: 500;
        }
        
        .box a {
            padding: 20px;
            margin: 20px;
            font-size: 18px;
            font-weight: 500;
            color: rgb(17, 99, 131);
            text-decoration: none;
        }
        
        .box a:hover {
            text-decoration: underline;
            color: #04f;
        }
        
        .gal {
            margin-top: 40px;
        }
        
        .gal h1 {
            padding: 20px;
            margin: 0px;
            font-size: 36px;
            font-weight: 700;
            color: #000;
            text-align: center;
        }
        
        .gal img {
            width: 428px;
            margin: 10px;
        }
        
        .gal:hover img {
            background-color: rgb(0, 0, 000);
        }
        
        .about {
            padding: 0%;
            margin: 0px;
            background-image: url("../image/bg1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 140px;
        }
        
        .about h1 {
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            color: #fff;
        }
        
        .footer {
            padding: 0px;
            margin: 40px 0;
        }
        
        .col1 {
            width: 320px;
            padding: 0px;
            margin: 0px;
        }
        
        .col2 {
            width: 257px;
            padding: 0px;
            margin: 0px;
        }
        
        .col2 h4 {
            padding: 0px;
            margin: 0px;
            font-size: 24px;
            font-weight: 700;
            margin: 20px 0 10px 0;
        }
        
        .col2 ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
        }
        
        .col2 ul li a {
            padding: 0px;
            list-style: none;
            color: #000;
            text-decoration: none;
            font-size: 16px;
            line-height: 36px;
        }